@font-face {
  font-family: century-gothic-regular;
  src: url(assets/fonts/SansSerifFLF.otf);
}

@font-face {
  font-family: century-gothic-bold;
  src: url(assets/fonts/SansSerifBldFLF.otf);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
}
