@font-face {
  font-family: century-gothic-regular;
  src: url(assets/fonts/SansSerifFLF.otf);
}

@font-face {
  font-family: century-gothic-bold;
  src: url(assets/fonts/SansSerifBldFLF.otf);
}

body {
  margin: 0;
  font-family: century-gothic-regular;
}
